.inbox-main{
    display: flex;
}
.inbox-left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid black;
}
.inbox-left{
    margin-top: 50px;
    height: 90vh;
    width: 30vw;
    border: 1px solid black;
}
.inbox-right{
    overflow-x: scroll;
    margin-top: 50px;
    height: 90vh;
    width: 70vw;
    border: 1px solid black;
}
.message-div-recipient{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    width: 50%;
}